.App {
  text-align: center;
  width: 100%;
}

.formSendMessage{
  display: flex;
  justify-content: center;
}

.messenger{
  border: 1px solid #3439fc;
  border-radius: 5px;
  height: 500px;
  overflow-y: scroll;
  width: 35%;
  margin: 0 auto;
  padding: 20px;
  background-color: aqua;
}

.messages{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}


.userInfo{
  width: 100px;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.userInfo img{
  border-radius: 50%;
}


